#login_container{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
    padding: 20px;
    background-color: white !important;
    border-radius: 15px;
    -webkit-box-shadow: 0px 2px 9px -1px gray;
    box-shadow: 0px 2px 9px -1px gray;
}

#login_container .row {
    padding-bottom: 20px;
}

#login_container #errorMsg {
    color:red;
}

#login_container .btn {
    background-color: #660066;
    color: white;
    float: right;
}